{% extends 'base.html' %}

{% block title %}Welcome to the Blog{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Welcome to the Inventory!</h1>
<p>This is your home page where you can find the latest inventory updates and items available.</p>
<br>
<p>Here are the items in stock:</p>
<ul>
    {% for item in items %}
        <li>{{ item.category_name }}: {{ item.description }}</li>
    {% endfor %}
</ul>

{% else %}

<h1>Welcome to the Blog!</h1>
<p>This is your home page where you can find the latest blog posts and updates.</p></br>
<p>This is an additional line truly an arrogant logger</p>

{% endif %}

{% endblock %}